@model PPSale.Models.Globals.CategoryDocument

@{
    var Pagina = "Categoria de Documento";
    var Controlers = "ContentControl";

    ViewBag.Title = Pagina;
}

@using (Html.BeginForm("AddCatDoc", @Controlers, FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TypeDocumentId)

        <div class="form-Normal">
            <div class="input-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "control-label col-md-12 col-md-12" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="btn-rigth">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

