@model PPSale.Models.View.UnitBaseWithMeasureUnitViewModel

@{
    var Pagina = "Unidad de Medida";
    var Controler = "MeasuredUnit";
    var Controlers = "UnitBases";
    ViewBag.Title = Pagina;
}

<div class="col-sm-12">
    <div class="row color-title-blue">
        <a class="btn  btn-success btn-volver btn-circles mr-2" href="@Url.Action("Index" )" title="Volver">Volver</a>
        <a class="btn  btn-success  btn-inicio btn-circles mr-2" href="@Url.Action("Index","Home" )" title="Inicio">Inicio</a>
        <a class="btn  btn-success btn-menu btn-circles mr-2" href="@Url.Action("Configuration","Navs" )" title="Volver">Men&uacute;</a>
        <a class="btn btn-primary dialog-window  btn-nuevo btn-circles mr-2" href="@Url.Action("CreateMeasuredUnit",Controlers,new { id = Model.UnitBaseId })" title="Nuevo" id="btn-Option" data-Option="Create" data-title="Agregar @Pagina">Nuevo</a>
        <span class="title-color-blue  btn-circles btn-circle-border-2 mr-5">@Pagina</span>
    </div>
</div>

@RenderPage("~/Views/Shared/_NotificationPartial.cshtml")



<table class="table tableTwoBtn">
    <thead class="table-dark">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Abreviatura
            </th>
            <th>
                Cantidad
            </th>
            <th>Acci&oacute;n</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.measuredUnits == null || Model.measuredUnits.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    No hay Elementos...
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.measuredUnits)
            {
            <tr>
                <td class="data-@Html.DisplayFor(modelItem => item.MeasuredUnitId)">
                    @Html.DisplayFor(modelItem => item.Name) &nbsp;
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abrev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equivalent) &nbsp;
                    @Html.DisplayFor(modelItem => item.Value) &nbsp;
                </td>
                <td>
                    <a href="@Url.Action("EditMeasuredUnit",new {id=item.MeasuredUnitId })" class="btn btn-sm btn-warning dialog-window" title="Editar" data-Option="Edit" data-title="Editar @Pagina"><span class="fa-edit fa" aria-hidden="true"></span></a>
                    <a class="btn btn-danger btn-sm Delete-reg" title="Eliminar" data-id="@Html.DisplayFor(modelItem => item.MeasuredUnitId)" data-controller="@Controler"><span class="fa-eraser fa" aria-hidden="true"></span></a>
                </td>
            </tr>
            }
        }
    </tbody>
    <tfoot class="table-dark">
        <tr><td colspan="4">pie de tabla</td></tr>
    </tfoot>
</table>
