@model PPSale.Models.Entry.DocumentEntry

@{
    var Pagina = "Documento de Entrada";
    var Controlers = "DocumentEntries";
    ViewBag.Title = Pagina;
}

<h5 class="f-title f-titleEdit">
    <span class="title_CreateEdit f-orange">
        Editar:
    </span> @Pagina
</h5>

@using (Html.BeginForm("Edit", @Controlers, FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.DocumentEntryId)
    @Html.HiddenFor(model => model.CompanyId)

    @Html.HiddenFor(model => model.Iva)
    @Html.HiddenFor(model => model.save)
    @Html.HiddenFor(model => model.Payment)

    <div class="form-Edit">
        <div class="form-group">
            @Html.LabelFor(model => model.ProviderId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("ProviderId", null, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.ValidationMessageFor(model => model.ProviderId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class='input-group date' id='datepicker' style="width:250px">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "control-label col-md-12 col-sm-12" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeDocumentId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("TypeDocumentId", null, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.ValidationMessageFor(model => model.TypeDocumentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryDocumentId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("CategoryDocumentId", null, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.ValidationMessageFor(model => model.CategoryDocumentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberDoc, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.NumberDoc, new { htmlAttributes = new { @class = "control-label col-md-12" } })
                @Html.ValidationMessageFor(model => model.NumberDoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypePaymentId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("TypePaymentId", null, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.ValidationMessageFor(model => model.TypePaymentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceTotal, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.PriceTotal, new { htmlAttributes = new { @class = "control-label col-md-12" } })
                @Html.ValidationMessageFor(model => model.PriceTotal, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" value="Guardar" class="btn btn-warning" />
                <a href="@Url.Action("Entry","Navs")" class="btn btn-success" title="Volver"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>&nbsp;Volver</a>
            </div>
        </div>
    </div>




</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
