@model IEnumerable<PPSale.Models.Entry.DocumentEntry>

@{
    var Pagina = "Documento de Compra";
    var Controler = "DocumentEntry";
    var Controlers = "DocumentEntries";
    ViewBag.Title = Pagina;
}

<div class="col-sm-12">
    <div class="row color-title-blue">
        <a class="btn  btn-success btn-volver btn-circles mr-2" href="@Url.Action("Additional","Navs" )" title="Volver">Volver</a>
        <a class="btn  btn-success  btn-inicio btn-circles mr-2" href="@Url.Action("Index","Home" )" title="Inicio">Inicio</a>
        <a class="btn btn-primary dialog-window  btn-nuevo btn-circles mr-2" href="@Url.Action("Create",Controlers)" title="Nuevo" id="btn-Option" data-Option="Create" data-title="Agregar Compañia">Nuevo</a>
        <span class="title-color-blue  btn-circles btn-circle-border-2 mr-5">@Pagina</span>
    </div>
</div>

@RenderPage("~/Views/Shared/_NotificationPartial.cshtml")


<table class="table table-responsive ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDocument.Name)
            @Html.DisplayNameFor(model => model.TypeDocument.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberDoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iva)
        </th>
        <th>Acci&oacute;n</th>
    </tr>
    @if (Model == null || Model.Count() == 0)
    {
        <tr>
            <td colspan="7">
                No hay Elementos...
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.save == false)
                    {
                        <span class="save save-false"></span>
                    }
                    else
                    {
                        <span class="save save-true"></span>
                    }
                    &nbsp;
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeDocument.Name) &lang;
                    @Html.DisplayFor(modelItem => item.CategoryDocument.Name)&rang;
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberDoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iva)
                </td>
                <td>
                    <a class="btn btn-success btn-sm" href="@Url.Action("AddProduct",Controlers,new { id=item.DocumentEntryId})" title="Agregar"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
                    <a class="btn btn-warning btn-sm" href="@Url.Action("Edit",Controlers,new { id=item.DocumentEntryId})" title="Editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    <a class="btn btn-danger btn-sm Delete-reg" title="Eliminar" data-id="@Html.DisplayFor(modelItem => item.DocumentEntryId)" data-controller="@Controler"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    }


</table>
