@model PPSale.Models.Globals.Province

@{
    var Pagina = "Provincias";
    var Controlers = "Countries";

    ViewBag.Title = Pagina;
}

@using (Html.BeginForm("EditProvince", @Controlers, FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CountryId)
        @Html.HiddenFor(model => model.ProvinceId)

        <div class="form-Normal">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="btn-rigth">
                    <input type="submit" value="Actualizar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
