@model IEnumerable<PPSale.Models.Globals.Country>

@{
                /**/

                var Pagina = "País";
                var Controler = "Country";
                var Controlers = "Countries";
                ViewBag.Title = Pagina;
}

<div class="col-sm-12">
    <div class="row color-title-blue">
        <a class="btn btn-sm btn-success btn-volver btn-circles mr-2" href="@Url.Action("Additional","Navs" )" title="Volver">Volver</a>
        <a class="btn btn-sm btn-success  btn-inicio btn-circles mr-2" href="@Url.Action("Index","Home" )" title="Inicio">Inicio</a>
        <a class="btn btn-sm btn-primary dialog-window  btn-nuevo  btn-circles mr-2" href="@Url.Action("Create",Controlers)" title="Nuevo" id="btn-Option" data-Option="Create" data-title="Agregar País">Nuevo</a>
        <span class="title-color-blue  btn-circles btn-circle-border-2 mr-5">@Pagina</span>
    </div>
</div>

@RenderPage("~/Views/Shared/_NotificationPartial.cshtml")


<table class="table tablethree table-striped table-bordered" id="example">
    <thead class="table-dark">
        <tr>
            <th colspan="1">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th colspan="1">
                @Html.DisplayNameFor(model => model.NumberProvinces)
            </th>
            <th>Acci&oacute;n</th>
        </tr>
    </thead>
    <tbody class=" table-hover">
        @if (Model == null || Model.Count() == 0)
        {
            <tr>
                <td colspan="3">
                    No hay Elementos...
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="data-@Html.DisplayFor(modelItem => item.CountryId)">
                        @Html.DisplayFor(modelItem => item.Name) &nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberProvinces) &nbsp;
                    </td>
                    <td>
                        <a href="@Url.Action("Edit",new { id=item.CountryId })" class="btn btn-sm btn-warning dialog-window" title="Editar" data-Option="Edit" data-title="Editar País"><span class="fa fa-edit" aria-hidden="true"></span></a>
                        <a href="@Url.Action("CountryWithProvinces",new { id=item.CountryId })" class="btn btn-sm btn-info " title="Editar"><span class="fa fa-list-alt" aria-hidden="true"></span></a>
                        <a class="btn btn-danger btn-sm Delete-reg" title="Eliminar" data-id="@Html.DisplayFor(modelItem => item.CountryId)" data-controller="@Controler"><span class="fa fa-eraser" aria-hidden="true"></span></a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot class="table-dark">
        <tr><td colspan="3">pie de tabla</td></tr>
    </tfoot>
</table>
