@model IEnumerable<PPSale.Models.Globals.Country>

@{
    var Pagina = "País";
    var Controler = "Country";
    var Controlers = "Countries";
    ViewBag.Title = Pagina;
}

<div class="header-title">


    <div class="Ec-Controls">
        <p class="btn-new btn-first">
            <a class="btn btn-success" href="@Url.Action("Additional","Navs" )" title="Volver"><span class="fa fa-chevron-left" aria-hidden="true"></span>&nbsp;Volver</a>
        </p>
        <p class="btn-new">
            <a class="btn btn-success" href="@Url.Action("Index","Home" )" title="Inicio"><span class="fa fa-home" aria-hidden="true"></span>&nbsp;Inicio</a>
        </p>
        <p class="btn-new"><span>@Pagina</span></p>
        <p class="btn-new" style="display:inline-flex">
            <a class="btn btn-primary dialog-window" href="@Url.Action("Create",Controlers)" title="Nuevo" id="btn-Option" data-Option="Create" data-title="Nuevo País"><span class="fa fa-file" aria-hidden="true"></span> Nuevo</a>
        </p>
    </div>
</div>

@if (TempData["Action"] != null && TempData.Count != 0)
{

    if (TempData["Action"].Equals("Error"))
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
    else if (TempData["Action"].ToString() == "Succes")
    {
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Felicitaciones!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Alerta!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }


}


<table class="table tablethree table-striped table-bordered" id="example" style="width:100%"">
    <thead class="table-dark" >
        <tr>
            <th colspan="1">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th colspan="1">
                @Html.DisplayNameFor(model => model.NumberProvinces)
            </th>
            <th>Acci&oacute;n</th>
        </tr>
    </thead>
    <tbody class=" table-hover">
        @if (Model == null || Model.Count() == 0)
        {
            <tr>
                <td colspan="3">
                    No hay Elementos...
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="data-@Html.DisplayFor(modelItem => item.CountryId)">
                        @Html.DisplayFor(modelItem => item.Name) &nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberProvinces) &nbsp;
                    </td>
                    <td>
                        <a href="@Url.Action("Edit",new { id=item.CountryId })" class="btn btn-sm btn-warning dialog-window" title="Editar" data-Option="Edit" data-title="Editar País"><span class="fa fa-edit" aria-hidden="true"></span></a>
                        <a href="@Url.Action("CountryWithProvinces",new { id=item.CountryId })" class="btn btn-sm btn-info " title="Editar"><span class="fa fa-list-alt" aria-hidden="true"></span></a>
                        <a class="btn btn-danger btn-sm Delete-reg" title="Eliminar" data-id="@Html.DisplayFor(modelItem => item.CountryId)" data-controller="@Controler"><span class="fa fa-eraser" aria-hidden="true"></span></a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot class="table-dark">
        <tr><td colspan="3">pie de tabla</td></tr>
    </tfoot>
</table>
