@model PPSale.Models.Complement.Kardex

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kardex</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasuredUnit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasuredUnit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductClassification.CodeBar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductClassification.CodeBar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeBar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeBar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KardexId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
