@model IEnumerable<PPSale.Models.View.KardexViewModel>

@{
    var Pagina = "Kardex";
    var Controler = "Kardex";
    var Controlers = "Kardexes";
    ViewBag.Title = Pagina;
}

<div class="col-sm-12">
    <div class="row color-title-blue">
        <a class="btn btn-sm btn-success btn-volver btn-circles mr-2" href="@Url.Action("Configuration","Navs" )" title="Volver">Volver</a>
        <a class="btn btn-sm btn-success  btn-inicio btn-circles mr-2" href="@Url.Action("Index","Home" )" title="Inicio">Inicio</a>
        <a class="btn btn-sm btn-primary dialog-window  btn-nuevo  btn-circles mr-2" href="@Url.Action("Create",Controlers)" title="Nuevo" id="btn-Option" data-Option="Create" data-title="Agregar País">Nuevo</a>
        <span class="title-color-blue  btn-circles btn-circle-border-2 mr-5">@Pagina</span>
    </div>
</div>


@RenderPage("~/Views/Shared/_NotificationPartial.cshtml")

<table class="table tableTwoBtn table-striped table-bordered" id="example">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassificationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitBasenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Acci&oacute;n</th>
        </tr>
    </thead>
    <tbody class=" table-hover">
        @if (Model == null || Model.Count() == 0)
        {
            <tr>
                <td colspan="6">
                    No hay Elementos...
                </td>
            </tr>

        }
        else
        {
            foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassificationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitBasenName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit",new {id=item.KardexId })" class="btn btn-sm btn-warning dialog-window" title="Editar" data-Option="Edit" data-title="Editar @Pagina"><span class="fa-edit fa" aria-hidden="true"></span></a>
                        <a class="btn btn-danger btn-sm Delete-reg" title="Eliminar" data-id="@Html.DisplayFor(modelItem => item.KardexId)" data-controller="@Controler"><span class="fa fa-eraser" aria-hidden="true"></span></a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot class="table-dark">
        <tr><td colspan="6">pie de tabla</td></tr>
    </tfoot>
</table>
