@model PPSale.Models.Globals.AsingRolAndUser

@{
    var Pagina = "Asignar Rol Usuario y Empresa";
    var Controlers = "AsingRolAndUsers";
    ViewBag.Title = Pagina;
}


@using (Html.BeginForm("Create", @Controlers, FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Email)

        <div class="form-alter">
            <div class="input-group">
                @Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control col-md-12" })
                    @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control col-md-12" })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input-group">
                @Html.LabelFor(model => model.RolId, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownList("RolId", null, htmlAttributes: new { @class = "form-control col-md-12" })
                    @Html.ValidationMessageFor(model => model.RolId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="input-group mt-3">
                <div class="col-md-12">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Lock)
                        @Html.ValidationMessageFor(model => model.Lock, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.Lock, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="btn-rigth">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
