
@model PPSale.Models.View.ChangeRolViewModel

@{
    var Pagina = "Cambiar Rol";
    var Controlers = "Companies";
    ViewBag.Title = Pagina;
}


@using (Html.BeginForm("ChangeRol", @Controlers, FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CompanyId)

        <div class="form-Edit">
            <div class="input-group">
                @Html.LabelFor(model => model.RolId, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownList("RolId", null, htmlAttributes: new { @class = "control-label col-md-12 col-md-12" })
                    @Html.ValidationMessageFor(model => model.RolId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12">
                <div class="btn-rigth">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

