@model PPSale.Models.View.CompanyWithUsersViewModel

@{
    var Pagina = "Compañías";
    var Controler = "Company";
    var Controlers = "Companies";
    ViewBag.Title = Pagina;
}

<div class="header-title">
    <div class="Ec-Controls">
        <p class="btn-new btn-first">
            <a class="btn btn-success" href="@Url.Action("Index","Companies" )" title="Volver"><span class="glyphicon glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>&nbsp;Volver</a>
        </p>
        <p class="btn-new">
            <a class="btn btn-success" href="@Url.Action("Index","Home" )" title="Inicio"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Inicio</a>
        </p>
        <p class="btn-new"><span>@Pagina</span></p>
        <p class="btn-new" style="display:inline-flex">
            <a class="btn btn-primary dialog-window" href="@Url.Action("AddUsers",Controlers,new { Id=Model.CompanyId })" title="Nuevo Usuario" id="btn-Option" data-Option="Create" data-title="Agregar Usuario"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Nuevo Usuario</a>
        </p>
    </div>
</div>


@if (TempData["Action"] != null && TempData.Count != 0)
{
    if (TempData["Action"].Equals("Error"))
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
    else if (TempData["Action"].ToString() == "Succes")
    {
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Felicitaciones!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Alerta!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
}

<div class="col-sm-12">
    <div class="col-sm-3 form-alter">
        <div class="col-sm-12" style="text-align:center;">
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                <img src="@Url.Content(Model.Logo)" alt="Image" style="width:auto;height:100px; padding:0px; margin:0px;" />
            }
            else
            {
                <div style="background:#808080; display:block; width:100px;height:100px; padding:0px; margin:0px;"> </div>
            }
        </div>

        <div class="col-sm-12 form-control top3">
            <b> @Html.DisplayNameFor(model => model.Name) &nbsp;&#58;</b> @Html.DisplayFor(model => model.Name)
        </div>

        <div class="col-sm-12 form-control top3">
            <b>@Html.DisplayNameFor(model => model.Address)</b>&nbsp;&#58;@Html.DisplayFor(model => model.Address)
        </div>
        <div class="col-sm-12" style="margin-top:15px; padding:0px; text-align:center; ">
            <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", "Companies", new { id = Model.CompanyId })" title="Editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

        </div>
    </div>

    <div class="col-sm-9">

        @if (Model.Users == null || Model.Users.Count() == 0)
        {
            
        <div class="alert alert-danger alert-dismissible">
            <strong>Bienvenido!!!</strong>&nbsp;&nbsp;No hay Items
        </div>
              
        }
        else
        {
            foreach (var item in Model.Users)
            {
        <div class="col-sm-4">
            <div class="col-sm-12" style="text-align:center;">
                @if (!string.IsNullOrEmpty(item.Logo))
                {
                    <img src="@Url.Content(item.Logo)" alt="Image" style="width:auto;height:100px; padding:0px; margin:0px;" />
                }
                else
                {
                    <div style="background:#808080; display:block; width:100px;height:100px; padding:0px; margin:0px;"> </div>
                }
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6">@Url.Content(item.FirstName)</div>
                <div class="col-sm-6">@Url.Content(item.LastName)</div>
            </div>
        </div>
        }
    }
        </div>
</div>
