@model PPSale.Models.View.CompanyWithUsersViewModel
@using Newtonsoft.Json;

@{

    var Pagina = "Usuarios de Compañia";
    var Controler = "Company";
    var Controlers = "Companies";
    ViewBag.Title = Pagina;
    dynamic jsonObj = "";

    if (TempData["Action"] != null && TempData["Action"].Equals("Object"))
    {
        if (TempData["Message"] != null) { jsonObj = JsonConvert.DeserializeObject(TempData["Message"].ToString()); }
    }
}

<div class="col-sm-12">
    <div class="col-sm-12">
        <h4 class="list-group-item color-title-blue">
            @Pagina
        </h4>
        <div class="col-sm-6 btn-group-line">
            <div>
                <a class="btn  btn-success btn-volver" href="@Url.Action("index" )" title="Volver">Volver</a>
            </div>
            <div>
                <a class="btn  btn-success btn-menu" href="@Url.Action("Additional","Navs" )" title="Menú">Menu</a>
            </div>
            <div>
                <a class="btn  btn-success  btn-inicio" href="@Url.Action("Index","Home" )" title="Inicio">Inicio</a>
            </div>
            <div>
                <a class="btn btn-primary dialog-window  btn-nuevo" href="@Url.Action("AddUsers",Controlers,new { Id=Model.CompanyId })" title="Nuevo" id="btn-Option" data-Option="Create" data-title="Agregar Compañia">Nuevo</a>
            </div>
        </div>
    </div>
</div>


@if (TempData["Action"] != null && TempData.Count != 0)
{
    if (TempData["Action"].Equals("Error"))
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!!!</strong>&nbsp;&nbsp;@TempData["Message"]
            <br />
        </div>
    }
    else if (TempData["Action"].ToString() == "Success")
    {
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Felicitaciones!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
    else if (TempData["Action"].ToString() == "Object")
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Los Siguientes campos estan vacío y son requeridos!!!</strong> <br />
            <ul>
                @foreach (var obj in jsonObj)
                {
                    <li>@obj</li>}
            </ul>
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Alerta!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
}
<h1>
    @ViewBag.nombreCompleto
</h1>
<div class="row">
    <div class="col-sm-4 ">
        <div class="f-border-skyblue" style="padding:10px;">
            <div class="col-sm-12" style="text-align:center;">
                @if (!string.IsNullOrEmpty(Model.Logo))
                {
                    <img src="@Url.Content(Model.Logo)" alt="Image" style="width:auto;height:100px; padding:0px; margin:0px;" />
                }
                else
                {
                    <div style="background:#808080; display:block; width:100px;height:100px; padding:0px; margin:0px;"> </div>
                }
            </div>

            <div class="form-control  col-md-12 mt-2">
                <b> @Html.DisplayNameFor(model => model.Name) &nbsp;&#58;</b> @Html.DisplayFor(model => model.Name)
            </div>

            <div class="form-control  col-md-12 mt-2" style="font-size:10px;">
                <b>@Html.DisplayNameFor(model => model.Address)</b>&nbsp;&#58;@Html.DisplayFor(model => model.Address)
            </div>
        </div>
    </div>

    <div class="col-sm-8">

        @if (Model.Users == null || Model.Users.Count() == 0)
        {

            <div class="alert alert-danger alert-dismissible">
                <strong>Bienvenido!!!</strong>&nbsp;&nbsp;No hay Items
            </div>

        }
        else
        {
            foreach (var item in Model.Users)
            {
                <div class="row col-sm-12 f-background-blue" style="padding:15px 0px !important;">
                    <div class="col-sm-3">
                        @if (!string.IsNullOrEmpty(item.Logo))
                        {
                            <img src="@Url.Content(item.Logo)" alt="Image" style="width:auto;height:100px; padding:0px; margin:0px;" class="f-border-skyblue" />
                        }
                        else
                        {
                            <div style="background:#808080; display:block; width:100px;height:100px; padding:0px; margin:0px;"> </div>
                        }
                    </div>
                    <div class="col-sm-9">
                        <div class="form-control col-md-12 top-3">@Url.Content(item.FirstName)&nbsp;@Url.Content(item.LastName)</div>
                        <a class="btn btn-info dialog-window  btn-nuevo top-3" href="@Url.Action("ChangeRol", "Companies", new {IdCompany = Model.CompanyId ,IdUser = item.UserId })" title="Editar" id="btn-Option" data-Option="Edit" data-title="Cambiar Rol" style="color:#ffffff;">Cambiar: @Url.Content(item.URL)</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
