@model IEnumerable<PPSale.Models.View.CompanyViewModel>

@{
    var Pagina = "Compañías";
    var Controler = "Company";
    var Controlers = "Companies";
    ViewBag.Title = Pagina;
}

<div class="col-sm-12">
    <div class="col-sm-12">
        <h4 class="list-group-item color-title-blue">
            @Pagina
        </h4>
        <div class="col-sm-6 btn-group-line">
            <div>
                <a class="btn  btn-success btn-volver" href="@Url.Action("Additional","Navs" )" title="Volver">Volver</a>
            </div>
            <div>
                <a class="btn  btn-success  btn-inicio" href="@Url.Action("Index","Home" )" title="Inicio">Inicio</a>
            </div>
            <div>
                <a class="btn btn-primary dialog-window  btn-nuevo" href="@Url.Action("Create",Controlers)" title="Nuevo" id="btn-Option" data-Option="Create" data-title="Agregar Compañia">Nuevo</a>
            </div>
        </div>
    </div>
</div>

@if (TempData["Action"] != null && TempData.Count != 0)
{
    if (TempData["Action"].Equals("Error"))
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
    else if (TempData["Action"].ToString() == "Success")
    {
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Felicitaciones!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Alerta!!!</strong>&nbsp;&nbsp;@TempData["Message"]
        </div>
    }
}
 

<div class="row">
    @if (Model == null || Model.Count() == 0)
    {
        <div class="alert alert-danger col-sm-12">
            <div class="col-sm-12"><b> Necesitas Ingresar los datos de tu empresa...</b></div>
            <div class="col-sm-12"> Es necesario los datos de tu empresa, como nombre direccion imagen, etc. <br /> 
                hacer click en <i>Nuevo</i> E ingresar los datos
            </div>
   
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="col-lg-6 ">

                <div class="col-sm-12 f-background-blue-l" style="padding:20px; margin:15px auto;">

                    <div class="col-sm-12">
                        <div class="row Ec-title-Company">
                            <div class="f-border-skyblue">
                                @if (!string.IsNullOrEmpty(item.Logo))
                                {
                                    <img src="@Url.Content(item.Logo)" alt="Image" style="width:auto;height:35px; padding:0px; margin:0px;" />
                                }
                                else
                                {
                                    <div style="background:#808080; display:block; width:35px;height:35px; padding:0px; margin:0px;"> </div>
                                }
                            </div>
                            <div class="data-@Html.DisplayFor(modelItem => item.CompanyId)">
                                <h4>
                                    &nbsp; @Html.DisplayFor(modelItem => item.Name)
                                </h4>
                            </div>
                        </div>
                        <hr />
                        <div class="col-sm-12">
                            <div class="row">
                                <a class="btn btn-primary btn-Usuario" href="@Url.Action("Details", Controlers, new { id = item.CompanyId })" title="Nuevo" id="btn-Option" data-Option="Create" data-title="Nuevo Usuario">Usuarios</a>
                                <a class="btn btn-warning dialog-window  btn-editar" href="@Url.Action("Edit", "Companies", new { id = item.CompanyId })" title="Editar" id="btn-Option" data-Option="Edit" data-title="Editar Compañia" style="color:#ffffff;">Editar</a>
                                <a class="btn btn-danger Delete-reg btn-eliminar" title="Eliminar" data-id="@Html.DisplayFor(modelItem => item.CompanyId)" data-controller="@Controler" style="color:#ffffff;">Eliminar</a>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="col-sm-12 control-label col-md-12 top-3">
                                        <b>@Html.DisplayNameFor(model => model.Cuit)&#58;&nbsp;</b>
                                        @Html.DisplayFor(modelItem => item.Cuit)
                                    </div>
                                    <div class="col-sm-12 control-label col-md-12 top-3">
                                        <b>@Html.DisplayNameFor(model => model.FirstDate)&#58;&nbsp;</b>
                                        @Html.DisplayFor(modelItem => item.FirstDate)
                                    </div>
                                    <div class="col-sm-12 control-label col-md-12 top-3">
                                        <b>@Html.DisplayNameFor(model => model.IvaConditionName)&#58;&nbsp;</b>
                                        @Html.DisplayFor(modelItem => item.IvaConditionName)
                                    </div>

                                    <div class="col-sm-12 control-label col-md-12 top-3">
                                        <b>@Html.DisplayNameFor(model => model.Email)&#58;&nbsp;</b>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </div>
                                    <div class="col-sm-12 control-label col-md-12 top-3">
                                        <b>@Html.DisplayNameFor(model => model.Web)&#58;&nbsp;</b>
                                        @Html.DisplayFor(modelItem => item.Web)
                                    </div>
                                    <div class="col-sm-12 control-label col-md-12 top-3">
                                        <b>@Html.DisplayNameFor(model => model.CountryName)&#58;&nbsp;</b>
                                        @Html.DisplayFor(modelItem => item.CountryName)
                                    </div>

                                    <div class="col-sm-12 control-label col-md-12 top-3">
                                        <b>@Html.DisplayNameFor(model => model.ProvinceName)&#58;&nbsp;</b>
                                        @Html.DisplayFor(modelItem => item.ProvinceName)
                                    </div>
                                    <div class="col-sm-12 control-label col-md-12 top-3">
                                        <b>@Html.DisplayNameFor(model => model.CityName)&#58;&nbsp;</b>
                                        @Html.DisplayFor(modelItem => item.CityName)
                                    </div>
                                    <div class="col-sm-12 control-label col-md-12 top-3">
                                        <b>@Html.DisplayNameFor(model => model.Address)&#58;&nbsp;</b>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    }

</div>