@model PPSale.Models.Globals.Rol

@{
    var Pagina = "Rol";
    var Controlers = "Rols";
    ViewBag.Title = Pagina;
}


@using (Html.BeginForm("Create", @Controlers, FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-alter">
            <div class="input-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-check mt-3">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Lock, new { @class = "form-check-input", @type = "checkbox", @value = "", @id = "defaultCheck1" })
                    @Html.ValidationMessageFor(model => model.Lock, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.Lock, htmlAttributes: new { @class = "form-check-label", @for = "defaultCheck1" })
                </div>
            </div>

            <div class="col-md-12">
                <div class="btn-rigth">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
