@using PPSale.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<h2>@ViewBag.Title.</h2>
<div class="Login">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Iniciar sesión.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text btn-Usuario" id="basic-addon1"></span>
                </div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text btn-Password" id="basic-addon1"></span>
                </div>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="input-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="input-group">
                <div class="col-md-12">
                    <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
                </div>
            </div>
            <p>
                @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
            </p>
        }
    </section>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}