<!--Adicional-->
@model IEnumerable<PPSale.Controllers.Nav.NavsController>
@{
    var Pagina = "Adicional";
    ViewBag.Title = Pagina;
}

<div class="col-sm-12">
    <div class="row color-title-blue">
        <a href="@Url.Action("Index","Home")" class="btn btn-sm btn-success btn-circles btn-volver">Volver</a>
        <span class="title-color-blue  btn-circles btn-circle-border-2 mr-5">@Pagina</span>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="card text-white bg-info mb-3 col-sm card-margin">
            <div class="card-header"><h4>Ubicaci&oacute;n</h4></div>
            <div class="card-body">
                <p class="card-text">
                    <a href="@Url.Action("Index","Countries")" class="btn btn-warning btn-lg btn-block">Ubicaci&oacute;n</a>
                    <a href="@Url.Action("Index","ContentControl")" class="btn btn-warning btn-lg btn-block">Documentos</a>
                </p>
            </div>
        </div>

        <div class="card text-white bg-info mb-3  col-sm  card-margin" ">
            <div class="card-header"><h4>Compa&ntilde;&iacute;a</h4></div>
            <div class="card-body">
                <p class="card-text">
                    <a href="@Url.Action("Index","Companies")" class="btn btn-warning btn-lg btn-block">Compa&ntilde;ia</a>
                    <a href="@Url.Action("Index","Users")" class="btn btn-warning btn-lg btn-block">Usuario</a>
                    <a href="@Url.Action("Index","Rols")" class="btn btn-warning btn-lg btn-block">Roles</a>
                    <a href="@Url.Action("Index","AsingRolAndUsers")" class="btn btn-warning btn-lg btn-block">Asing. Roles</a>
                </p>
            </div>
        </div>

        <div class="card text-white bg-info mb-3  col-sm  card-margin" ">
            <div class="card-header"><h4>Movimientos</h4></div>
            <div class="card-body">
                <p class="card-text">
                    <a href="@Url.Action("Index","Providers")" class="btn btn-warning btn-lg btn-block">Proveedor</a>
                    <a href="@Url.Action("Index","Clients")" class="btn btn-warning btn-lg btn-block">Cliente</a>
                </p>
            </div>
        </div>

    </div>
</div>
