<!--Adicional-->
@model IEnumerable<PPSale.Controllers.Nav.NavsController>
@{
    ViewBag.Title = "Adicional";
}

<h2>Otras Configuraciones</h2>

<h4>Ubicacion</h4>
<div class="col-lg-12">
    <div class="card card-button return">
        <a href="@Url.Action("Index","Home")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-arrow-left" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Volver</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-button">
        <a href="@Url.Action("Index","Countries")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-globe" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Pa&iacute;s</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-button">
        <a href="@Url.Action("Index","Provinces")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-map-marker" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Provincia</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-button">
        <a href="@Url.Action("Index","Cities")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-pushpin" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Ciudad</h5>
                </div>
            </div>
        </a>
    </div>
</div>

<h4>Compa&ntilde;&iacute;a</h4>

<div class="col-lg-12">

    <div class="card card-button">
        <a href="@Url.Action("Index","Companies")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-home" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Compa&ntilde;&iacute;a</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-button">
        <a href="@Url.Action("Index","Users")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-user" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Usuario</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-button">
        <a href="@Url.Action("Index","Rols")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-bullhorn" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Roles</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-button">
        <a href="@Url.Action("Index","AsingRolAndUsers")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-random" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Rel. Rol, Usuario y Comp.</h5>
                </div>
            </div>
        </a>
    </div>
</div>

<h4>Documento</h4>
<div class="col-lg-12">

    <div class="card card-button">
        <a href="@Url.Action("Index","TypeDocuments")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-folder-close" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Tipo de Documento</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-button">
        <a href="@Url.Action("Index","CategoryDocuments")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-duplicate" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Categor&iacute;a de Documento</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-button">
        <a href="@Url.Action("Index","IvaConditions")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-eye-open" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Condicion Frente al Iva</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-button">
        <a href="@Url.Action("Index","TypePayments")">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top glyphicon glyphicon-credit-card" style="font-size:40px;"></div>
                <div class="card-body">
                    <h5 class="card-title">Tipo de Pago</h5>
                </div>
            </div>
        </a>
    </div>
</div>