<!--Configuracion-->
@model IEnumerable<PPSale.Controllers.Nav.NavsController>
@{
    var Pagina = "Configuraciones de Empresa";
    ViewBag.Title = "Configuration";
}

<div class="col-sm-12">
    <div class="row color-title-blue">
        <a href="@Url.Action("Index","Home")" class="btn btn-sm btn-success btn-circles btn-volver">Volver</a>
        <span class="title-color-blue  btn-circles btn-circle-border-2 mr-5">@Pagina</span>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="card text-white bg-info mb-3 col-sm card-margin">
            <div class="card-header"><h4>Medidas</h4></div>
            <div class="card-body">
                <p class="card-text">
                    <a href="@Url.Action("Index","UnitBases")" class="btn btn-warning btn-lg btn-block">Unidad Base</a>
                    <a href="@Url.Action("Index","MeasuredUnits")" class="btn btn-warning btn-lg btn-block">Unidad de Medida</a>
                </p>
            </div>
        </div>

        <div class="card text-white bg-info mb-3  col-sm  card-margin" ">
            <div class="card-header"><h4>Productos</h4></div>
            <div class="card-body">
                <p class="card-text">
                    <a href="@Url.Action("Index","Products")" class="btn btn-warning btn-lg btn-block">Productos</a>
                    <a href="@Url.Action("Index","Classifications")" class="btn btn-warning btn-lg btn-block">Clasificaci&oacute;n</a>
                    <a href="@Url.Action("Index","ProductClassifications")" class="btn btn-warning btn-lg btn-block">Producto &minus; Clasificaci&oacute;n</a>
                    <a href="@Url.Action("Index","Kardexes")" class="btn btn-warning btn-lg btn-block">Almac&eacute;n</a>
                </p>
            </div>
        </div>
    </div>
</div>