<!--Entrada-->
@model PPSale.Models.View.ViewNavEntry

@{
    var Pagina = "Entrada";
    var Controler = "DocumentEntry";
    var Controlers = "DocumentEntries";
    ViewBag.Title = Pagina;
}

<h2 class="header-title">Detalles de  @Pagina</h2>

<div class="col-lg-12">
    <p class="btn-new" style="display:inline-flex">
        <a class="btn btn-success" href="@Url.Action("Index","Home" )" title="Inicio"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
    </p>
    <p class="btn-new" style="display:inline-flex">
        <a class="btn btn-info" href="@Url.Action("Index","Home" )" title="Volver"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>&nbsp;Volver</a>
    </p>
    <p class="btn-new" style="display:inline-flex">
        <a class="btn btn-primary" href="@Url.Action("Create",Controlers )" title="Nuevo"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Nuevo</a>
    </p>
</div>

@if (TempData["Error"] != null && TempData.Count != 0)
{
    <div class="alert alert-danger" role="alert">
        <strong>Alerta!</strong>&nbsp;&nbsp;@TempData["Error"]
    </div>
}

<div class="form-horizontal">

    @if (Model.MoneyMonths == null || Model.MoneyMonths.Count == 0)
    {
        <h5 class="f-block f-background-red">No hay Productos</h5>
    }
    else
    {
        foreach (var item in Model.MoneyMonths)
        {
            <p class="btn-new" style="display:inline-flex">
                <a class="btn btn-default" href="@Url.Action("Entry","Navs",new { id=item.ViewMoneyMonthId})" title=" @Html.DisplayFor(modelItem => item.Name)"> @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Price)</a>
            </p>
        }
    }
</div>

<div class="col-lg-12">
    <div class="col-md-8">
        @if (Model.DocumentEntry == null || Model.DocumentEntry.Count == 0)
        {
            <h5 class="f-block f-background-red">No hay Productos</h5>
        }
        else
        {
            <h5 class="f-block-all f-background-orange" style="text-align:center"><strong>Ventas del Mes</strong></h5>
            <table class=" table tableFourBtn">
                <tr>
                    <th>
                        &nbsp;Proveedor&nbsp;
                    </th>
                    <th>
                        &nbsp;Fecha&nbsp;
                    </th>
                    <th>
                        &nbsp;Cantidad&nbsp;
                    </th>
                    <th>
                        &nbsp;Condici&oacute;n&nbsp;
                    </th>
                    <th>
                        &nbsp;Accion&nbsp;
                    </th>
                </tr>

                @foreach (var item in Model.DocumentEntry)
                {
                    <tr>
                        <td>
                            @if (item.save == false)
                            {
                                <span class="save save-false"></span>
                            }
                            else
                            {
                                <span class="save save-true"></span>
                            }
                            @Html.DisplayFor(modelItem => item.Provider.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceTotal)
                        </td>
                        <td>
                            @if (item.Payment == false)
                            {
                                <div>
                                    <span class="save save-false"></span>
                                    Debe
                                </div>
                            }
                            else
                            {
                                <div>
                                    <span class="save save-true"></span>
                                    Pagado
                                </div>
                            }
                        </td>
                        <td>
                            <a class="btn btn-success btn-sm" href="@Url.Action("AddProductEntry",Controlers,new { id=item.DocumentEntryId})" title="Agregar"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
                            <a class="btn btn-info btn-sm" href="@Url.Action("Details",Controlers,new { id=item.DocumentEntryId})" title="Detalles"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
                            <a class="btn btn-warning btn-sm" href="@Url.Action("Edit",Controlers,new { id=item.DocumentEntryId})" title="Editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <a class="btn btn-danger btn-sm Delete-reg" title="Eliminar" data-id="@Html.DisplayFor(modelItem => item.DocumentEntryId)" data-controller="@Controler"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                }
            </table>

        }
    </div>
    <div class="col-md-4">


        @*Parte 2*@
        @if (Model.ProductQuantities == null || Model.ProductQuantities.Count == 0)
        {
            <h5 class="f-block f-background-red">Productos Tops</h5>
        }
        else
        {
            <h5 class="f-block-all f-background-orange-l" style="text-align:center"><strong>Ventas del Mes</strong></h5>
            <table class=" table table-responsive">
                <tr>
                    <th>
                        &nbsp;Producto&nbsp;
                    </th>
                    <th>
                        &nbsp;Cantidad&nbsp;
                    </th>

                    <th>
                        &nbsp;Precio&nbsp;
                    </th>
                </tr>

                @foreach (var item in Model.ProductQuantities)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity) &nbsp; Kg
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
                <tr>
                    <th>
                        <strong>TOTAL</strong>
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.TotalKilo) Kg
                    </th>

                    <th>
                        @Html.DisplayFor(model => model.TotalDinero)
                    </th>
                </tr>
            </table>

        }
    </div>
</div>

<div class="col-lg-12">
    @*<div class="card card-button return">
            <a href="@Url.Action("Index","Home")">
                <div class="card" style="width: 18rem;">
                    <div class="card-img-top glyphicon glyphicon-arrow-left" style="font-size:40px;"></div>
                    <div class="card-body">
                        <h5 class="card-title">Volver</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="card card-button">
            <a href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-img-top glyphicon glyphicon-scissors" style="font-size:40px;"></div>
                    <div class="card-body">
                        <h5 class="card-title">Cortes</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="card card-button">
            <a href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-img-top glyphicon glyphicon-tint" style="font-size:40px;"></div>
                    <div class="card-body">
                        <h5 class="card-title">Sublimado</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="card card-button">
            <a href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-img-top glyphicon glyphicon-cutlery" style="font-size:40px;"></div>
                    <div class="card-body">
                        <h5 class="card-title">Costura</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="card card-button">
            <a href="">
                <div class="card" style="width: 18rem;">
                    <div class="card-img-top glyphicon glyphicon-cutlery" style="font-size:40px;"></div>
                    <div class="card-body">
                        <h5 class="card-title">Cortes</h5>
                    </div>
                </div>
            </a>
        </div>*@
</div>

