@model IEnumerable<PPSale.Models.Complement.Classification>

@{
    var Pagina = "Clasificación";
    var Controler = "Classification";
    var Controlers = "Classifications";
    ViewBag.Title = Pagina;
}

<div class="col-sm-12">
    <div class="row color-title-blue">
        <a class="btn  btn-success btn-volver btn-circles mr-2" href="@Url.Action("Configuration","Navs" )" title="Volver">Volver</a>
        <a class="btn  btn-success  btn-inicio btn-circles mr-2" href="@Url.Action("Index","Home" )" title="Inicio">Inicio</a>
        <a class="btn btn-primary dialog-window  btn-nuevo btn-circles mr-2" href="@Url.Action("Create",Controlers)" title="Nuevo" id="btn-Option" data-Option="Create" data-title="Agregar @Pagina">Nuevo</a>
        <span class="title-color-blue  btn-circles btn-circle-border-2 mr-5">@Pagina</span>
    </div>
</div>

@RenderPage("~/Views/Shared/_NotificationPartial.cshtml")

<div class="col-12">
    <div class="row">
        @if (Model == null || Model.Count() == 0)
        {
        <div class="alert alert-danger" role="alert">
            No hay categoría de clasificacion
        </div>

        }
        else
        {
            foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <div class="card text-white bg-dark mb-3" style="width: 12rem;">
                        <img class="card-img-top" src="~/Content/Logos/NotImage.jpg" alt="Card image cap"/>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <a href="@Url.Action("Details",new {id=item.ClassificationId })" class="btn btn-sm btn-success" title="Productos"><span class="fa-edit fa" aria-hidden="true"></span>&nbsp;Productos</a>
                            <a class="btn btn-danger btn-sm Delete-reg" title="Eliminar" data-id="@Html.DisplayFor(modelItem => item.ClassificationId)" data-controller="@Controler"><span class="fa-eraser fa" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            }
        }
        </div>
    </div>